body {
  margin: 0;
  padding: 0;
}
#box1 {
  height: 100vh;
  width: 100%;
  background-image: url(../images/city.jpg);
  background-size: cover;
  display: table;
  background-attachment: fixed;
}
#box2 {
  height: 100vh;
  width: 100%;
  background-image: url(../images/mekka01.jpg);
  background-size: cover;
  display: table;
  background-attachment: fixed;
}
#box3 {
  height: 100vh;
  width: 100%;
  background-image: url(../images/47_main.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: table;
  background-attachment: fixed;
}
h1 {
  font-family: arial black;
  font-size: 50px;
  color: #ffffff;
  margin: 0;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}
